body {
    background-color: #051D3B;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

a,
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: initial; */
    height: 40px;
    margin: 32px;
}

.header-logo {
    width: 30%;
    margin-right: 3%;
}

.header-search {
    display: flex;
    flex-shrink: 2;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.16); */
    
}

.header-search-input {
    background-color: rgba(255, 255, 255, 0.16);
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 0;
    /* align-content: center; */
}

.header-user {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3%;
}

.page {
    display: flex;
    justify-content: space-between;
    /* width: initial; */
    margin: 32px;
}

.menu {
    width: 30%;
    margin-right: 3%;
}

.menu-title {
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.menu-item-selected {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.menu-item-selected-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 16px;
    background: #5081FB;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-top: 16px;
    opacity: 0.56;
}

.menu-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 16px;
    background: #5081FB29;
}

.codeSpace {
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    border: 0;
    margin-top: 12px;
    /* margin-right: 32px;
    margin-left: 32px; */
    /* padding-left: 16px;
    padding-right: 16px; */
}

.codeBox {
    display: flex;
    background: #6BD1FF;
    width: 100%;
    height: 350px;
    border-radius: 8px;
}

.codeBox-editor {
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    margin: 32px;
}

.codeBox-editor-input {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: 0;
    height: 100%;
    margin: 16px;
}

.codebox-editor-circles {
    position: relative;
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    width: 52px;
}

.codeBox-editor-circleGreen {
    background: green;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.codeBox-editor-circleOrange {
    background: orange;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.button-highlight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background: #5081FB29;
    margin-top: 32px;
}

.button-saveProject {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    /* width: auto;  */
    border-radius: 8px;
    background: #5081FB;
    margin-top: 16px;
    /* opacity: 0.56; */
}

.codeInfo {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 3%;
}

.codeInfo-project {
    border: 0;
    background-color: rgba(255, 255, 255, 0.16);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    color: rgba(255, 255, 255);
}