body {
    background-color: #051D3B;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

a,
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 32px;
}

.header-logo {
    align-items: center;
    width: 30%;
    margin-right: 3%;
}

.header-search {
    display: flex;
    flex-shrink: 2;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.16); */

}

.header-search-input {
    background-color: rgba(255, 255, 255, 0.16);
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 0;
}

.header-user {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3%;
}

.header-icons,
.header-icon-menu,
.header-icon-search {
    display: none;
    margin-left: 50px;
}

.editor-page {
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

.menu {
    width: 30%;
    margin-right: 3%;
}

.menu-title {
    font-size: 12px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.menu-item-selected {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.menu-item-selected-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 16px;
    background: #5081FB;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-top: 16px;
    opacity: 0.56;
}

.menu-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 16px;
    background: #5081FB29;
}

.codeSpace {
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    border: 0;
    margin-top: 12px;
}

.codeBox {
    display: flex;
    background: #6BD1FF;
    width: 100%;
    height: 350px;
    border-radius: 8px;
}

.codeBox-editor {
    background: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    margin: 32px;
}

.codeBox-editor-input {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: 0;
    height: 100%;
    margin: 16px;
}

.codebox-editor-allCircles {
    position: relative;
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    width: 52px;
}

.codeBox-editor-circle {
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.button-highlight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background: #5081FB29;
    margin-top: 32px;
}

.button-saveProject {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    /* width: auto;  */
    border-radius: 8px;
    background: #5081FB;
    margin-top: 16px;
    /* opacity: 0.56; */
}

.codeInfo {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 3%;
}

.codeInfo-personalize {
    display: block;
}

.codeInfo-text {
    border: 0;
    background-color: rgba(255, 255, 255, 0.16);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    color: rgba(255, 255, 255);
}

.codeInfo-dropdown {
    border: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.16);
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    color: rgba(255, 255, 255);
}

@media (max-width: 768px) {

    .header-user,
    .menu {
        display: none;
    }

    .header-icons {
        display: flex;
        justify-content: flex-end;
        width: 10%;
        margin-left: 3%;
    }

    .header-icon-menu {
        display: block;
    }

    .page {
        flex-wrap: wrap;
    }

    .codeInfo {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .codeInfo-personalize {
        display: flex;
        justify-content: space-between;
    }

    .codeInfo-dropdown {
        width: 49%;
    }
}

@media (max-width: 480px) {

    .header-search {
        display: none;
    }

    .header-icons {
        width: 50%;
    }

    .codeInfo-personalize,
    .header-icon-search {
        display: block;
    }

    .codeInfo-dropdown {
        width: 100%;
    }
}

/* Community tab styles */

.codeFeed {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12px;
}

.codeRecord {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    /* height: 464px; */
    background: rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    border-radius: 8px;
}

.codeRecord-code {
    display: flex;
    flex-wrap: wrap;
    background: #6BD1FF;
    width: 100%;
    height: 288px;
    border-radius: 8px;
}

.codeRecord-details-box {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.codeRecord-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.codeRecord-details-stats {
    display: flex;
}

.code-title {
    font-size: 21px;
    line-height: 31px;
}

@media (max-width: 768px) {
    .codeRecord {
        width: 100%;
    }

    .codeRecord-code {
        height: 366px;
    }
}

@media (max-width: 480px) {
    .codeRecord-code {
        height: 402px;
    }
}